@{
    ViewBag.Title = "Home Page";
}

<style>

    #myCarousel {
        margin-top: 100px;
    }
   

    .carousel .item {
        height: 300px;
    }

    .item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
        width:100%;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/assets/image1.jpg" height="250px" width="100%" alt="Los Angeles">
        </div>

        <div class="item">
            <img src="~/assets/image2.jpg" alt="Chicago">
        </div>

        <div class="item">
            <img src="~/assets/image3.jpg"  alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can buy donated items and materials withdrawn from the library's collection. Money raised from book sales is used to support library programs and services.
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more books</h2>
        <p>I particularly like books that have been discarded by university libraries where the subject matter is diverse or even niche. There's a good chance that many of these discards will be out-of-print. But that doesn't mean their content isn't incredibly useful to someone</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pricing</h2>
        <p>Vancouver Public Library holds an annual books sale every October with thousands of items for you to peruse at your leisure. Come and browse through the tables of bargains and treasures!</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>