
@{
    ViewBag.Title = "ChartView";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chart View</title>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js">
    </script>

    <script type="text/javascript">

        window.onload = function () {

            fetch('http://localhost:8080/stat')
                .then(response => response.json())
                .then(data => {
                    const finalData = data.map(o => {
                        return {
                            label  : o.categoryName,
                            y : o.total,
                        }
                    })
                    console.log("===finalData===", finalData)
                    var chart = new CanvasJS.Chart("chartContainer", {
                        theme: "light2", // "light1", "light2", "dark1", "dark2"
                        exportEnabled: true,
                        animationEnabled: true,
                        title: {
                            text: "List of books by Categories"
                        },
                        data: [{
                            type: "pie",
                            startAngle: 25,
                            toolTipContent: "<b>{label}</b>: {y}%",
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabelFontSize: 16,
                            indexLabel: "{label} - {y}%",
                            dataPoints: finalData
                        }]
                    });
                    chart.render();


                    console.log(data)
                });


          


        

      };
    </script>
</head>
<body>
   
    <div  id="chartContainer"> </div>
    <div s id="chartContainer2"> </div>
    <p>lorem ipsum</p>

</body>
</html>